.button{
    background: rgb(4, 4, 128) !important;
    padding: 6px;
    color: white;
}
.close{
    width: 30px;
    border-radius: 50%;
    background: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.step{
    width: 55px;
    font-size: 10px;
    height: 22px;
    padding: 4px;
}
@media (max-width: 1024px) {
    *{
        font-size: 12px !important;
    }
    .courseCreationHeader .step{
        font-size: 10px !important;
        width: 59px !important;
        height:18px !important;
        border-radius: 5px !important;
        font-weight: bold !important;
    }
    .courseCreationHeader .button{
        font-size: 11px !important;
    }
    .courseCreationHeader .close{
        width: 20px !important;
        border-radius: 50%;
        background: #d0d0d0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px
    }
   .courseCreationHeader h1{
    font-weight: bold;
    font-size: 18px !important;
   }
   .addtionalSection h2{
    font-weight: bold;
    margin-top: 10px !important;
    font-size: 20px !important;
   }
   .formAdditional{
    font-size: 11px !important;
   }
   .profileBrick{
    width: 200px !important;
   }
   .profileBrickMainConatiner{
    padding: 10px !important;
   }
   .submitButton{
    margin-top: 40px;
   }
   .blogsMainContainer{
    width: 100% !important;
    padding: 10px !important;
   }
   .blogImage{
    width: 100% !important;
    height: 10% !important;
   }
   .notificationMain h1{
    margin-left: 0 !important;
    font-weight: bold !important;
    font-size: 18px !important;
   }
   .notificationMainPersonName{
    font-size: 12px !important;
    display: flex !important;
   }
   .notificationMain{
    padding: 10px !important;
    font-size: 8px !important;
   }
   .notificationMainComment{
    font-size: 12px !important;
   }
   .commentTime{
    font-size: 10px !important;
   }
  }