.button{
    background: rgb(4, 4, 128) !important;
    padding: 6px;
    color: white;
}
.close{
    width: 30px;
    border-radius: 50%;
    background: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.step{
    width: 55px;
    font-size: 10px;
    height: 22px;
    padding: 4px;
}
@media (max-width: 1024px) {
    .courseCreationHeader .step{
        width: 60px;
        height: 15px;
        border-radius: 5px;
        font-weight: bold;
    }
    .courseCreationHeader .button{
        font-size: 11px;
    }
    .courseCreationHeader .close{
        width: 20px;
        border-radius: 50%;
        background: #d0d0d0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px
    }
   .courseCreationHeader h1{
    font-weight: bold;
    font-size: 18px !important;
   }
   .addtionalSection h2{
    font-weight: bold;
    margin-top: 1px;
    font-size: 20px;
   }
   .formAdditional{
    font-size: 11px;
   }
  }